!!!5
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title= appName
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name="description", content="")

		link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
		link(rel='stylesheet', href='/#{theme}/css/main.css')

		block styles

		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		script(src='/socket.io/socket.io.js')

	body(class=pageName+"-page")
		include ../includes/header

		section#content
			block content

		include ../includes/footer

		block scripts

		script(type="text/javascript", src='/#{theme}/js/init.js')