footer#footer
	small &copy;3mw 
	script(type="text/javascript", src="/#{theme}/js/jquery-1.9.1.min.js")
	script(type="text/javascript", src="/#{theme}/js/bootstrap.min.js")
	script(type="text/javascript", src='/#{theme}/js/core.js')
	script(type="text/javascript", src='/#{theme}/js/modules/socket.js')