@font-face
	font-family 'Chevin'
	font-weight 700
	font-style normal
	src url('../assets/chevinstd-bold-webfont.eot')
	src url('../assets/chevinstd-bold-webfont.eot#iefix&v=3.0.1') format('embedded-opentype'),
		url('../assets/chevinstd-bold-webfont.woff') format('woff'),
		url('../assets/chevinstd-bold-webfont.ttf') format('truetype')

@font-face
	font-family 'Chevin'
	font-weight 500
	font-style normal
	src url('../assets/chevinstd-medium-webfont.eot')
	src url('../assets/chevinstd-medium-webfont.eot#iefix&v=3.0.1') format('embedded-opentype'),
		url('../assets/chevinstd-medium-webfont.woff') format('woff'),
		url('../assets/chevinstd-medium-webfont.ttf') format('truetype')

@font-face
	font-family 'Chevin'
	font-weight 400
	font-style normal
	src url('../assets/chevinstd-light-webfont.eot')
	src url('../assets/chevinstd-light-webfont.eot#iefix&v=3.0.1') format('embedded-opentype'),
		url('../assets/chevinstd-light-webfont.woff') format('woff'),
		url('../assets/chevinstd-light-webfont.ttf') format('truetype')

@font-face
	font-family 'Chevin'
	font-weight 200
	font-style normal
	src url('../assets/chevinstd-thin-webfont.eot')
	src url('../assets/chevinstd-thin-webfont.eot#iefix&v=3.0.1') format('embedded-opentype'),
		url('../assets/chevinstd-thin-webfont.woff') format('woff'),
		url('../assets/chevinstd-thin-webfont.ttf') format('truetype')