extends form

block breadcrumb
	- var plural = name.pluralize();
	/
	a(href = "/#{plural}", title="#{lang(plural.capitalize())}")= lang(plural.capitalize())
	/
	span= lang("View")

block title
	legend #{lang("View")}
		include includes/messages